 canvas {
     background-color: var(--primary-bg-color);
 }

 canvas#mainChart:active {
     cursor: grabbing;
 }

 canvas#xScale {
     cursor: ew-resize;
 }

 canvas#yScale {
     cursor: ns-resize;
 }

 .chartContainer {
    display: flex;
    flex-direction: row;
    height:calc(100% - 30px);
 }