 canvas {
     background-color: var(--primary-bg-color);
 }

 canvas#mainChart:active {
     cursor: grabbing;
 }

 canvas#xScale {
     cursor: ew-resize;
 }

 canvas#yScale {
     cursor: ns-resize;
 }

 .mainChartContainer {
    display: flex;
    flex-direction: row;
    height:calc(100% - 70px);
    width: calc(100% - 30px);
 }

 .chartContainer{
    border-width: 2px 0px 0px 0px;
    border-color: var(--tertiary-bg-color);
    border-style: solid;
    padding:0;
 }

