.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-bottom: 2px solid var(--tertiary-bg-color);
}

.quickActionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    padding-left: 20px;
}

.quickAction {
    font-weight: bold;
    font-size: 13px;
    color: inherit;

}

.logo {
    height: 80%;
    width: auto;
}

.actionWrapper {
    height: 100%;
    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
    padding: 10px 0px;
    box-sizing: border-box;
}

.actionWrapper.active {
    color: var(--primary-text-color);
    border-bottom: 2px solid var(--primary-text-color);
}

.searchBar {
    background-color: var(--secondary-bg-color);
    border: 0;
    color: var(--secondary-text-color);
    padding: 10px;
    flex-grow: 1;
    outline: none;
    border-radius: 3px;
}

.searchButton {
    background-color: var(--secondary-bg-color);
    padding: 10px;
    border: 0;
    color: var(--secondary-text-color);
    cursor: pointer;
    border-left: 1px var(--tertiary-bg-color) solid;
    border-radius: 3px;
}

.searchButton:hover {
    background-color: var(--tertiary-bg-color);
}

.searchBarContainer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cornerContainer {
    width: 30%;
}

.middleContainer {
    width: 40%;
}