.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.quickActionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    height: 100%;
    padding-left: 20px;
}

.quickAction {
    font-weight: bold;
    font-size: 13px;
    height: 100%;
    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
    padding: 10px 0px;
    box-sizing: border-box;
}
.quickAction:hover{
    text-decoration: none;
    color:white;
}

.logo {
    height: 90%;
    width: auto;
    margin-right: 24px;
    color: var(--secondary-text-color);
    padding: 10px 0px;
    box-sizing: border-box;
}

.quickAction.active {
    color: var(--primary-text-color);
    border-bottom: 2px solid var(--primary-text-color);
}