.App {
    height: 100%;
}

.mainContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 60px);
    position: fixed;
    left: 0;
    /* manual height of header */
    top: 60px;
}
 